.information-section {
  background-color: #feefd8;
  margin: 0 auto;
  margin-top: 9rem;
  margin-bottom: 4.2rem;
  width: 55%;
  height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 9px #82817f;
}
.information-section > div {
  text-align: left;
}
.girl-pet {
  height: 385px;
  object-fit: contain;
}
.information-section,
.girl-pet {
  border-radius: 30px;
}
.information-section p {
  color: #82817f;
}
h2 {
  font-size: 2.2rem;
}
#button-adopt {
  display: inline-block;
  margin-top: 7px;
}
