.container-header {
  display: flex;
  justify-content: center;
  gap: 2.7rem;
}
.pet-image {
  width: 300px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}
.container-button-adopt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
